@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Language Buddy</h1>
    <p class="lead">Language comes first. It’s not that language grows out of consciousness, if you haven’t got language, you can’t be conscious. – Alan Moore</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Meet new people</h2>
        <p>When you first meet new people, there’s excitement. Every conversation reveals more about who you are and who they are</p>
    </div>
    <div class="col-md-4">
        <h2>Start learning</h2>
        <p>Many would argue that bilingualism is becoming a progressively necessary and essential skill for anyone who wants to keep up with today’s rapidly increasing global economy</p>
    </div>
    <div class="col-md-4">
        <h2>Travel</h2>
        <p>Get used to picking up new words in a different language every time you travel and you will see improvements in your brain capacities</p>
    </div>
</div>